@import '../../node_modules/effortless-css/less/all.less';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../../node_modules/ample-alerts/build/styles/ample-alerts.css';

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}

html {

    body {
        margin: 0;
        padding: 35px 0 0 0;
        font-family: OpenSans;
        font-size: 14px;
        .transition(0.25s);

        .opacity(0);

        &.ready {
            .opacity(1);
        }

        #title {
            .box-sizing(border-box);
            position: fixed;
            top: 0;
            margin-bottom: 10px;
            padding: 5px;
            width: 100%;
            text-align: center;
            z-index: 10;
            cursor: default;

            #title-text {
                font-weight: bold;
            }

            .title-icon {
                position: absolute;
                top: 0;
                margin: 5px;
                cursor: pointer;
                .opacity(0.7);

                &:hover {
                    .opacity(1);
                }
            }

            #source-link {
                left: 0;

                a {
                    text-decoration: none;
                }
            }

            #toggle-preferences {
                right: 0;
            }
        }

        .section {
            margin: 20px 20px 20px 20px;

            .header {
                margin-bottom: 10px;
                padding-bottom: 10px;
                font-size: 1.2em;
                border-bottom: 1px solid;
            }

            .items {

                .bookmark-item,
                .history-item {
                    cursor: pointer;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    a,
                    a:visited,
                    a:hover,
                    a:active {
                        text-decoration: none;
                        word-break: break-word;

                        &:not(:first-child) {
                            .opacity(0.5);
                        }
                    }

                    .title {

                    }

                    .url {
                        .opacity(0.3);
                    }
                }

                .history-item {

                }
            }
        }

        .preferences {
            position: fixed;
            width: 0;
            height: 0;
            top: 0;
            left: 0;
            overflow: hidden;
            z-index: 20;

            .backdrop {
                width: 100%;
                height: 100%;
                background-color: #000;
                .opacity(0);
                .transition(opacity 0.5s);
            }

            .preferences-bar {
                width: 0;
                .transition(width 0.5s);

                .header {
                    margin: 5px 5px 15px 5px;
                    font-size: 1.5em;
                    text-align: center;
                }

                .preference-item {
                    margin: 5px;
                    text-align: center;
                    cursor: pointer;
                    .opacity(0.7);

                    &::before {
                        content: attr(data-label);
                    }

                    &:hover {
                        .opacity(1);
                    }
                }
            }

            &.visible {
                width: 100%;
                height: 100%;

                .backdrop {
                    .opacity(0.7);
                }

                .preferences-bar {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 300px;
                    height: 100%;
                    box-shadow: 0 0 20px #000;
                }
            }
        }

        #bookmarks-bar {

            .header {
                margin-top: -10px;
            }

            .items {

                .bookmark-item {
                    display: inline-block;
                    margin: 5px;
                    padding: 5px 10px;
                    .round-borders(100px);

                    .url {
                        display: none;
                    }
                }

                .bookmark-item:first-of-type,
                .history-item:first-of-type {
                    margin-left: 0px !important;
                }
            }
        }

        #browser-sessions {

            .header {

                #save-session,
                #clear-sessions {
                    cursor: pointer;
                }
            }

            .items {

                .session-item {
                    cursor: pointer;
                    display: inline-block;
                    margin: 5px;
                    padding: 5px;
                    .round-borders(5px);
                }
            }
        }

        #all-bookmarks {

            .items {

                padding-top: 5px;

                .bookmark-item,
                .history-item {

                }
            }
        }

        &.light {
            color: #000;
            background-color: #fff;

            #title {
                background-color: #eee;
                color: #333;
                border-bottom: 2px solid #999;

                .title-icon,
                .title-icon * {
                    color: #333;
                }
            }

            .section {

                .header {
                    color: #000;
                    border-color: #bbb;
                }

                .items {

                    .bookmark-item,
                    .session-item,
                    .history-item {
                        background-color: #ddd;
                        border: 1px solid #bbb;

                        a,
                        a:visited,
                        a:hover,
                        a:active {
                            color: #000;
                        }

                        &:hover {
                            background-color: #88f;
                        }
                    }
                }
            }

            .preferences {

                .backdrop {

                }

                .preferences-bar {
                    background-color: #ddd;
                }
            }

            #bookmarks-bar {

                .items {

                    .bookmark-item {

                        .url {

                        }
                    }
                }
            }

            #all-bookmarks {

                .items {

                    .bookmark-item,
                    .history-item {

                    }

                    .history-item {
                        background-color: #eee;

                        &:hover {
                            background-color: #ddd;
                        }

                        .title {
                            color: #2f2f2f;

                            &:hover {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }

        &.dark {
            color: #fff;
            background-color: #000;

            #title {
                background-color: #1a237e;
                color: #fff;
                border-bottom: 2px solid #666;

                .title-icon,
                .title-icon * {
                    color: #fff;
                }
            }

            .section {

                .header {
                    color: #fff;
                    border-color: #666;
                }

                .items {

                    .bookmark-item,
                    .session-item,
                    .history-item {
                        background-color: #311b92;
                        border: 1px solid #fff;

                        a,
                        a:visited,
                        a:hover,
                        a:active {
                            color: #fff;
                        }

                        &:hover {
                            background-color: #3949ab;
                        }
                    }
                }
            }

            .preferences {

                .backdrop {

                }

                .preferences-bar {
                    background-color: #333;
                }
            }

            #bookmarks-bar {

                .items {

                    .bookmark-item {

                        .url {

                        }
                    }
                }
            }

            #all-bookmarks {

                .items {

                    .bookmark-item,
                    .history-item {
                        background-color: #311b9280;

                        &:hover {
                            background-color: #3949ab;
                        }
                    }

                    .history-item {

                        .title {
                            color: #d0d0d0;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        &.list {

            #all-bookmarks {

                .items {

                    .bookmark-item,
                    .history-item {
                        .box-sizing(border-box);
                        margin-bottom: 10px;
                        padding: 0.4em 0.7em;
                        .round-borders(2px);
                    }
                }
            }
        }

        &.pills {

            #all-bookmarks {

                .items {

                    .bookmark-item,
                    .history-item {
                        display: inline-block;
                        margin: 5px;
                        padding: 5px 10px;
                        .round-borders(5px);

                        .url {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
