@import 'mixins.less';

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url('../fonts/OpenSans-Bold.ttf');
}

html {

    .clearfix {
        clear: both;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: OpenSans;
        font-size: 14px;

        #title {
            margin-bottom: 10px;
            padding: 5px;
            text-align: center;
            background-color: #444;
            color: #fff;
            box-shadow: 0 0 10px #000;
        }

        .section {
            margin: 5px 5px 15px 5px;

            .header {
                margin-bottom: 5px;
                font-size: 1.2em;
            }

            .items {

                .bookmark-item,
                .history-item {
                    cursor: pointer;
                    background-color: #ddd;
                    border: 1px solid #ccc;

                    a,
                    a:visited,
                    a:hover,
                    a:active {
                        color: #000;
                        text-decoration: none;
                    }

                    &:hover {
                        background-color: #eee;
                        border-color: #bbb;
                    }
                }
            }
        }

        #bookmarks-bar {

            .items {

                .bookmark-item {
                    display: inline-block;
                    margin: 5px;
                    padding: 5px;
                    .round-borders(5px);
                }
            }
        }

        #all-bookmarks {

            .items {

                .bookmark-item,
                .history-item {
                    .box-sizing(border-box);
                    margin-bottom: 5px;
                    padding: 5px;
                    .round-borders(2px);
                }
            }
        }
    }
}
